/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * 
 * 
 * 
 *= require font-awesome
 *= require bootstrap.min 
 *= require uniform.default.min  
 *= require style-conquer 
 *= require style.css 
 *= require style-responsive.css 
 *= require plugins.css 
 *= require themes/default.css 
 *= require custom.css 
 *= require login 
 *= require_self
 */


img.login-bg {

  z-index: -99;
  
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.login-bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.medium-portlet {
	height:350px; 

}

.leaflet-map-pane img {
  max-width: none;
  max-height: none;
}

.social-login {
	display: block;
    margin-left: auto;
    margin-right: auto ;
    
    padding:10px;
    
		
	
}
}
