<div class="header navbar navbar-inverse navbar-fixed-top">
	<div class="header-inner">
		
		<a class="navbar-brand" href="#">
			METEOCAM
		</a>

		<a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<img src="/img/menu-toggler.png" alt=""/>
		</a>
		
		<ul class="nav navbar-nav pull-right">

			<% if signed_in? %>
			
				<li class="dropdown user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<img alt="" src="/img/avatar_small.jpg"/>
					<span class="username">
						 <%= current_user.email %>
					</span>
					<i class="fa fa-angle-down"></i>
					</a>
				<ul class="dropdown-menu">
					<li>
						
						<%= link_to(raw('<i class="fa fa-user"></i> Profile'), edit_user_registration_path) %>
						
					</li>
				
					<li>
						<%= link_to(raw('<i class="fa fa-key"></i> Log Out'),  destroy_user_session_path, :method=>'delete') %>
						
					</li>
				
				</ul>
			</li>
									

			

			
			<%end%>
			
			</ul>

</div>
</div>