<div class="page-sidebar navbar-collapse collapse">
			<ul class="page-sidebar-menu">
				<li class="sidebar-toggler-wrapper">
					<div class="sidebar-toggler">
					</div>
					<div class="clearfix">
					</div>
				</li>
				<li>

				</li>
				<li class="start active">
					<a href="#">
					<i class="fa fa-home"></i>
					<span class="title">
							Dashboard
					</span>
					</a>
				</li>
	
			</ul>
		</div>