<div class="page-sidebar navbar-collapse collapse">
  <!-- BEGIN SIDEBAR MENU -->        
  <ul class="page-sidebar-menu">

    <li>
      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
      <div class="sidebar-toggler"></div>
      <div class="clearfix"></div>
      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li class="start active ">
      <a href="#">
      <i class="icon-home"></i> 
      <span class="title">Dashboard</span>
      <span class="selected"></span>
      </a>
    </li>
    <li class="">
      <a href="javascript:;">
      <i class="icon-cogs"></i> 
      <span class="title">Menu item</span>
      <span class="arrow "></span>
      </a>
      <ul class="sub-menu">
        <li >
      <a href="#">
          <span class="badge badge-important">new</span>Language Switch Bar</a>
        </li>
        <li >
      <a href="#">
          Disabled Menu Links</a>
        </li>
        <li >
      <a href="#">
          Sidebar Fixed Page</a>
        </li>
        <li >
      <a href="#">
          Sidebar Closed Page</a>
        </li>
        <li >
      <a href="#">
          Blank Page</a>
        </li>
        <li >
      <a href="#">
          Boxed Page</a>
        </li>
        <li >
      <a href="#">
          Non-Responsive Layout</a>
        </li>
        <li >
      <a href="#">
          Content Loading via Ajax</a>
        </li>
      </ul>
    </li>
   
  </ul>
  <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->