<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->

<html lang="en" class="no-js">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8"/>

		<title>MeteoCam</title>

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<meta name="MobileOptimized" content="320">

		
		<%= stylesheet_link_tag    "application", media: "all"  %>
		
		
		<%= csrf_meta_tags %>

	</head>



	<% if user_signed_in? %>

		

		<%= render 'layouts/app_body' %>
		
	

	
	
	<%else%>
		
	
		<%= render 'layouts/app_login' %>


	<%end%>

</html>

